body{
    margin: 0;
    font-family: sans-serif;
}

.flexbox{

   
    margin: 20px;
    border: 2px solid #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
   
    
   
    
}

.flex-item{
    
    height: 100px;
    background-color: #911;
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 200px;
    
    
}

    
    
.flex-item:first-child{
    background-color: #d56;
    
    
}
.item-5{
    background-color: #d5d;
    
}
