body{
    margin: 0;
    font-family: sans-serif;
}

.flexbox{

   
    margin: 20px;
    border: 2px solid #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    
    
}

.flex-item{
    width: 100px;
    height: 100px;
    background-color: #911;
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    
    
    
.flex-item:first-child{
    background-color: #d56;
    flex-grow: 1;
    
}
.flex-item:nth-child(2n){
    background-color: #d5d;
    flex-grow: 2;
    
}



