body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ededed;
    
}

div,body{
    box-sizing: border-box;
}

ul{
    margin: 0;

}

.main-wrapper, header, footer{
    width: 100%;
}
h1, h2, h3{
    text-wrap: balance;
}
p{
    text-wrap: pretty;
}

/* Header section */
.main-navbar{
    background-color: #48e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

.main-navbar ul{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

.main-navbar li{
    margin: 5px;
}
.main-navbar a{
    color: #fff;
    display: inline-block;
    padding: 6px 9px;
}

nav a {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}
nav a:hover {
   opacity: 0.7;
}
li{
    list-style: none;
}

/* Main content section */

.main-wrapper{
    
    padding-top: 60px; /* Adjust for fixed header */
    display: flex;
    flex-grow: 1;   /* permite que o main-wrapper ocupe todo el espacio disponible */
    gap: 10px; /* espacio entre os elementos */
    max-width: 1240px; /* limite de largura */
    flex-wrap: wrap;
    justify-content: center;
    
    
}
main{
    min-width: 300px; /* largura minima do main */
    flex-grow: 1;
}

aside, main{
    padding: 5px 20px; /*separacion entre los elementos*/
   flex-basis: 0;
   background-color: #fff;
}
.main-wrapper aside{
   flex-grow: 1;    /* permite que o aside ocupe todo o espaço disponible */
   
}

.secundary-navbar{
    min-width: 10rem;
    text-align: center;
}
.secundary-navbar ul{
    padding: 0; /* quitar el padding por defecto por ser lista*/
}

.secundary-navbar a {
    color: #48e;
    display: inline-block;
    padding: 6px 10px;
}

/** Footer section */
footer{
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer nav ul li {
    margin: 20px 12px;
}

@media screen and (max-width: 550px) {

    aside:last-child{
        display: none;
    }
    
}
@media screen and (max-width: 400px) {

    .main-wrapper{
        flex-direction: column;
        padding-top: 70px; /* Adjust for fixed header */
    }
    
    .secundary-navbar{
        max-height: 250px;
    }
}