p{
    color: blue;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    
    text-align: justify;
    text-decoration: none;
    line-height: normal;
    letter-spacing: normal;
    text-transform: capitalize;
}